/*
* Styles for Panda Market Sprint 1 Application
* style for Landing.jsx
* Description: Basic resets and global styles for the application
* Author: Taeyoung Seon
* Date: 12/12/2025 09:42 AM
*/

  .landingMain {
    margin-top: 40px;
  }

  .wrapper {
    max-width: 95rem;
    margin: 0 auto;
    width: 100%;
  }
  

  .heroWrapper {
    max-width: 65rem;
    margin: 0 auto;
    width: 100%;
  }

  .button {
    background-color: #3692ff;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .pillButton {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 99.9rem;
    padding: 1.6rem 6.4rem 1.6rem 6.4rem;
  }

  .heroH1 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.02em;
  }

  .banner {
    background-color: #cfe5ff;
    height: 27.5rem;  /* 440px */
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 55%;
  }
  
  .hero {
    padding-top: 20px;
    /* background-size: auto; */
    /* background-size: 46.625rem 21.25rem; */
    /* background-size: 746px 340px; */
    /* background-size: 32.625rem 14.875rem; */
    /* background-size: 522px 238px; */
    /* background-size: 596.8px x 272.0px; */
    background-size: 37.3rem 16.9375rem;
    background-image: url("/assets/banners/panda.svg");
  }
  
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 138px;
  }
  
  .bottomBanner {
    padding-left: 100px;
    background-image: url("/assets/banners/img_home_footer.svg");
  }
  
  
  /* banner 요소 내의 pill-button을 선택해 스타일 적용. ID 선택자 대신 이렇게 캐스캐이딩을 활용하는 방법은 특정 컨텍스트 내에서만 스타일을 적용하고자 할 때 유용해요. */
  .banner .pillButton { 
    text-decoration: none;
    margin-top: 32px;
  }
  

  
    /* flex 요소에서는 gap 속성을 사용해 자식 요소 사이의 간격을 조정할 수 있어요. */
    .feature {
      padding: 138px 0;
      display: flex;
      align-items: flex-start;
      text-align: left;
      flex-direction: column;
      gap: 5%;
    }
    
    .feature:first-child .featureImage {
      width: 100% !important;
      height: auto;
    }

    .feature:nth-child(2) .featureImage {
      width: 100% !important;
      height: auto;
    }

    .feature:last-child .featureImage {
      width: 100% !important;
      height: auto;
    }

    

    
    /* pseudo-selector인 nth-child(2)를 통해 feature 클래스를 가진 요소 중 두 번째 아이템에만 다른 스타일을 적용했어요. */
    .feature:nth-child(2) {
      align-items: flex-end;
      text-align: right;
      flex-direction: column-reverse;
    }


    .feature:last-child {
      align-items: flex-start;
      text-align: left;
      flex-direction: column;
    }

    
    /* flex: 1을 통해 부모 요소인 feature의 남은 공간을 모두 차지하도록 설정할 수 있어요. */
    .featureContent {
      flex: 1;
    }
    
    .featureTag {
      color: #3692ff;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    
    .featureDescription {
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0.08em;
      margin-top: 24px;
    }
  
  
/* Responsive - tablet adjustments */
  /* Tablet styles */
    /* Tablet styles */
      /* Tablet styles */
        /* Tablet styles */
    /* Tablet styles */
      /* Tablet styles */
        /* Tablet styles */
    /* Tablet styles */
      /* Tablet styles */
@media (min-width: 1199px) {

    .wrapper {
      max-width: 95rem;
      margin: 0 auto;
      width: 100%;
    }
    

    .heroWrapper {
      max-width: 65rem;
      margin: 0 auto;
      width: 100%;
    }

    .button {
      background-color: #3692ff;
      color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .banner .pillButton {
      font-size: 1.6rem;
      font-weight: 700;
      border-radius: 99.9rem;
      padding: 0.8rem 3.2rem 0.8rem 3.2rem;

    }

    .banner .heroH1 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.4rem;
      letter-spacing: 0.02em;
    }

    .banner {
      background-color: #cfe5ff;
      height: 540px;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-position: 80% bottom;
      background-size: 55%;
    }
    
    .hero {
      padding-top: 20px;
      /* background-size: auto; */
      /* background-size: 46.625rem 21.25rem; */
      /* background-size: 746px 340px; */
      /* background-size: 32.625rem 14.875rem; */
      /* background-size: 522px 238px; */
      /* background-size: 596.8px x 272.0px; */
      background-size: 37.3rem 16.9375rem;
      background-image: url("/assets/banners/panda.svg");
    }
    
    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 138px;
    }
    
    .bottomBanner {
      background-image: url("/assets/banners/img_home_footer.svg");
    }
    
    
    /* banner 요소 내의 pill-button을 선택해 스타일 적용. ID 선택자 대신 이렇게 캐스캐이딩을 활용하는 방법은 특정 컨텍스트 내에서만 스타일을 적용하고자 할 때 유용해요. */
    .banner .pillButton { 
      text-decoration: none;
      margin-top: 32px;
    }
    
    /* flex 요소에서는 gap 속성을 사용해 자식 요소 사이의 간격을 조정할 수 있어요. */
    .feature {
      padding: 138px 0;
      display: flex;
      align-items: center;
      text-align: left;
      flex-direction: row;
      gap: 5%;
      width: 70%;
    }
    
    .feature:first-child .featureImage {
      width: 50% !important;
      height: auto;
      flex-shrink: 0;
    }

    .feature:nth-child(2) .featureImage {
      width: 50% !important;
      height: auto;
      flex-shrink: 0;
    }

    .feature:last-child .featureImage {
      width: 50% !important;
      height: auto;
      flex-shrink: 0;
    }

    

    .feature:first-child {
      padding-top: 100px !important;
    }

    .feature:nth-child(2) {
      padding-top: 30px !important;
    }
    
    /* pseudo-selector인 nth-child(2)를 통해 feature 클래스를 가진 요소 중 두 번째 아이템에만 다른 스타일을 적용했어요. */
    .feature:nth-child(2) {
      align-items: center;
      text-align: right;
      flex-direction: row;
    }


    .feature:last-child {
      align-items: center;
      text-align: left;
      flex-direction: row;
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }

    
    /* flex: 1을 통해 부모 요소인 feature의 남은 공간을 모두 차지하도록 설정할 수 있어요. */
    .featureContent {
      flex: 1;
    }
    
    .featureTag {
      color: #3692ff;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    
    .featureDescription {
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0.08em;
      margin-top: 24px;
    }



  }



  @media (min-width: 768px) {
  
    .banner .pillButton {
      font-size: 1.6rem;
      font-weight: 700;
      border-radius: 99.9rem;
      padding: 0.8rem 3.2rem 0.8rem 3.2rem;
      margin-left: 45px;
    }

    .banner .heroH1 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.4rem;
      letter-spacing: 0.02em;
      margin-left: 60px;
    }
  
  }
  /* Mobile styles */
    /* Mobile styles */
      /* Mobile styles */
        /* Mobile styles */
          /* Mobile styles */
            /* Mobile styles */
              /* Mobile styles */
  @media (max-width: 499px) {
    .wrapper {
      padding: 0 16px;
      width: 100%;
      max-width: 100%;
    }

    .banner .heroH1 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      position: relative;
      left: 110px;
      top: -30px;
    }

    .banner {
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      max-width: 100vw;
      background-color: #cfe5ff;
      height: 440px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: 50% bottom;
      background-size: 55%;
      overflow-x: hidden;
    }


    .banner .pillButton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      max-width: 60%;
      max-height: 35px;
      padding: 0.6rem 0;
      font-size: 1rem;
      font-weight: 700;
      border-radius: 99.9rem;
      text-decoration: none;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: opacity 0.2s;
      box-sizing: border-box;
      left: 90px;
      top: -40px;
      position: relative;
    }

    .hero {
        background-size: 100%;
        background-image: url("../public/assets/banners/panda.svg");
        align-items: flex-start;
        padding-top: 120px;
      }

    .hero .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 100%;
    }

    .hero .wrapper h1 {
      left: 0;
      top: 0;
      position: relative;
    }

    .mobileBreak {
      display: inline;
    }
    
    .banner {
      width: 100%;
      max-width: 100vw;
      overflow-x: hidden;
    }
    
    .feature {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 100%;
      max-width: 100%;
      padding: 0px 16px;
      box-sizing: border-box;
    }

    .feature:first-child .featureImage {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
    }
  
    .feature:nth-child(2) .featureImage {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
    }
  
    .feature:last-child .featureImage {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
    }
  
    .feature:nth-child(2) .featureTag3, .feature:nth-child(2) .featureTag, .feature:nth-child(2) .featureDescription {  
      text-align: right;
    }
  
    .feature:last-child .featureDescription {
      margin-bottom: 100px;
    }

    .featureTag {
      color: #3692ff;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .featureTag2 {
      
      font-size: 1.6rem;
      line-height: 3.2rem;
      font-weight: 500;
      margin-bottom: 8px;
      color: #000;
    }

    .featureTag3 {
      font-size: 1.2rem;
      line-height: 3.2rem;
      font-weight: 500;
      margin-bottom: 8px;
      color: #000;
    }

    .featureTagBottom {
      text-align: center;
      font-size: 1.6rem;
      line-height: 3.2rem;
      font-weight: 500;
      margin-bottom: 200px;
      color: #000;
    }

    .feature:nth-child(2) {
      align-items: flex-end;
      text-align: right;
      flex-direction: column-reverse;
    }
    
    .feature-content {
      margin-top: 5px;
      width: 100%;
      text-align: left;
    }
    
    .feature:nth-child(2) .feature-content {
      text-align: right;
    }
    
    .feature img {
      margin: 0 -5px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      width: calc(100% + 10px);
      max-width: calc(100% + 10px);
    }
    
    .features {
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
    }


    .bottomBanner {
      font-size: 0.6rem;
      text-align: center;
      padding-left: 0px;
      padding-bottom: 200px;
        background-image: url("../public/assets/banners/img_home_footer.svg");
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
  }